@font-face {
  font-family: 'montserrat';
  src: url('fonts/woff/normal/montserrat-bold-webfont.woff') format('woff'),
    url('fonts/woff2/normal/montserrat-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/woff/italic/montserrat-bolditalic-webfont.woff') format('woff'),
    url('fonts/woff2/italic/montserrat-bolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/woff/normal/montserrat-medium-webfont.woff') format('woff'),
    url('fonts/woff2/normal/montserrat-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/woff/italic/montserrat-mediumitalic-webfont.woff') format('woff'),
    url('fonts/woff2/italic/montserrat-mediumitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}