.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 23vh; //задаем высоту header чтобы размеры элементов управления менялись
  min-height: 180px;
}