.nav {
  // display: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 30vh; //задаем высоту header чтобы размеры элементов управления менялись
  min-height: 200px;
}