include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title |ded-moroz
  body
    .wrapper <!-- overflow cut -->    
      .maincontent
        section.double          
          header.header
            .container
              nav.nav
                a.menu-btn
                  .menu-btn__pils
                .head
                  h1.head__name СКАЗКА
                  h2.head__desc О ЦАРЕ САЛТАНЕ
                  .head__round
                .search
                  label.search__input
                    h4.search__input-head
                    input.search__input-text
                a.menu-btn
                  +icon('search', 'menu-btn__icon')
              h2.header__banner НОВОГОДНЕЕ ПРЕДСТАВЛЕНИЕ
          section.hero
            .container
              h3.hero__head У ВАС ДОМА С ДЕДОМ МОРОЗОМ И СНЕГУРОЧКОЙ
              h3.hero__head для детей от трёх лет
              //- button.btn EXPLORE TEMPLATE
          section.offer
        section.two