include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title |ded-moroz
  body
    .wrapper <!-- overflow cut -->    
      .maincontent
        .container
          header.header
            .menu-btn
              a.menu-btn__pils
            nav.nav            
            .head
              h1.head__name CRIOS
              h2.head__desc FREE PSD TEMPLATE
              .head__round
            .search
              label.search__input
                h4.search__input-head
                input.search__input-text
            .menu-btn.menu-btn--src
              a.src-btn__mirror
                +icon('search', 'src-btn__mirror')